---
import Github from "./social/Github.astro";
import Linkedin from "./social/Linkedin.astro";
const today = new Date();
---

<footer class="bg-gray-200 text-gray pt-8 px-1 pb-6 text-center">
    &copy; {today.getFullYear()} Isaque Nascimento. All rights reserved.
    <div class="flex justify-center gap-4 mt-4">
        <Linkedin />
        <Github />
    </div>
</footer>
