---
import HeaderLink from "./HeaderLink.astro";
---

<header class="max-w-3xl mx-auto px-6 pt-8 pb-4">
    <nav class="flex gap-6 items-center text-base">
        <HeaderLink href="/">home</HeaderLink>
        <HeaderLink href="/blog">blog</HeaderLink>
    </nav>
</header>
